@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif&display=swap');

#steps {
    display: grid;
    grid-template-columns: 50% 50%;
    font-family: 'Roboto Serif', sans-serif;
}

.blue {
    border: 7px solid #A6EBF5;
    border-radius: 10px;    
}  

.pink {
    border: 7px solid #F5BFD9;
    border-radius: 10px;
}

.gifs {
    margin: 50px;
    width: 80%;
    background-color: white;
    position: relative;
}

.text {
    margin: auto;
    padding: 30px;
    font-size: 40px;
    position: relative;
    z-index: -100;
}